.homeBox{
    width: 100%;
    background: #FFF;
    height: auto;
    display: flex;
    .mainHome{
        width: 82%;
        margin: 0 auto;
        .selectFont{
            padding-top: 26px;
            padding-bottom: 20px;
        }
        .selectBox{
            background: #F5F5F6;
            padding: 20px;
            margin-bottom: 20px;
            .selP{
                font-size: 14px;
                color: #333336;
                line-height: 32px;
                margin-top: 10px;
            }
        }
    }
}
.btn-group-default{
    width: 100%;
}
.selBtn{
    width: 100%;
    text-align: left;
}